---
import Table from '../components/Table.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Top 10 Cryptos🔥">
	<main class="flex flex-col justify-start items-center mt-32">
		<div class="w-full max-w-[1440px]">
			<h1 class="text-4xl text-white font-bold mb-5">Top 10 Cryptos</h1>
			<Table/>
		</div>
		</main>
	</Layout>
	